@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Harika bir doğum günü partisi olacak!</h2>
    <h3>Sende Davetlisin!</h3>
    @Html.ActionLink("Geliyor musun ?", "DavetiyeFormu", null, new { @class = "btn btn-primary" })

</div>

@section Scripts
{

}

