@model IEnumerable<BirthdayApp.Models.DavetiyeModel>

@if (Model.Count() == 1)
{
    <p>Partiye gelen ilk kişi sensin :)</p>
}
else
{
    <hr />
    <p>
        @foreach (var i in Model)
        {
            <label class="label label-success">@i.Ad</label>
        }
    </p>
}


