@model BirthdayApp.Models.DavetiyeModel

@{
    ViewBag.Title = "Teşekkür Ederim";
}

<h1>Teşekkürler, @Model.Ad!</h1>

<div class="lead">
    @if (Model.KatilmaDurumu == true)
    {
        @:Gelmene Çok Sevindim :) Bütün Hazırlıklar tamamlandı..!
        @Html.Action("Katilanlar", "Home")
    }
    else
    {
        @:Gelemeyecek Olmana Çok Üzüldüm :( Bunu bildirdiğin için Teşekkür Ederim.
    }
</div>